*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    list-style-type: none;
    text-decoration: none;
    line-height: 1.5;
}
a{
    color: inherit;
}
html, body, #root, .App{
    height: 100%;
}
.wrapper{
    min-height: 100%;
    font-size: 14px;
}

